body {
    margin: 0;
}

.background {
    background-image: url("images/landscape.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-color: blue;
    height: 100vh;
    width: 100%;
}

#grid {
    height: 50%; 
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 90%);
    bottom: 50%;
}

.hole {
    justify-content: center;
    width: 25vw;
    height: 25vh;
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    object-fit: cover;
    overflow: hidden;
    margin: 1vw;
}

.pup {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    object-fit: cover;
    overflow: hidden;
    left: 100%;
    transition: 0.5s;
}

.hole.up .pup {
    top: 0;
}

.title {
    position: relative;
    text-align: center;
    align-content: center;
    color: orange;
    font-size: 7vw;
}

#time-left {
    position: relative;
    text-align: center;
    align-content: center;
    color: orange;
    font-size: 4vw;
}

#start {
    position: relative;
    text-align: center;
    align-content: center;
    color: orange;
    font-size: 2vw;
    background-color: blue;
}

#pup1 {
    background-image: url("images/puppy-3.svg")
}

#pup2 {
    background-image: url("images/puppy-2.svg")
}

#pup3 {
    background-image: url("images/puppy-10.svg")
}

#pup4 {
    background-image: url("images/puppy-4.svg")
}

#pup5 {
    background-image: url("images/puppy-3.svg")
}

#pup6 {
    background-image: url("images/puppy-4.svg")
}

